<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>67641648577-s0ch121874555ho4sad8jd7g85c4bqp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67641648577-s0ch121874555ho4sad8jd7g85c4bqp5</string>
	<key>API_KEY</key>
	<string>AIzaSyBFTsGc_v02lLPzoQMVcsQvZ5b1QJIbhUE</string>
	<key>GCM_SENDER_ID</key>
	<string>67641648577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OGC.SeshhOfficial</string>
	<key>PROJECT_ID</key>
	<string>seshhofficial</string>
	<key>STORAGE_BUCKET</key>
	<string>seshhofficial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:67641648577:ios:84a891aa46ad68f0</string>
	<key>DATABASE_URL</key>
	<string>https://seshhofficial.firebaseio.com</string>
</dict>
</plist>